<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611897464232-teua38pdl0i5jvcr2gacoo76j2kprjmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611897464232-teua38pdl0i5jvcr2gacoo76j2kprjmp</string>
	<key>API_KEY</key>
	<string>AIzaSyA3MvmjTZzCkufJTBGf5Rl3JGlzF_fs0iE</string>
	<key>GCM_SENDER_ID</key>
	<string>611897464232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.iNspireMe</string>
	<key>PROJECT_ID</key>
	<string>inspireme-11c35</string>
	<key>STORAGE_BUCKET</key>
	<string>inspireme-11c35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611897464232:ios:927d3ccb3d3055e8</string>
	<key>DATABASE_URL</key>
	<string>https://inspireme-11c35.firebaseio.com</string>
</dict>
</plist>